$color_brown: #90492C;
$color_magenta: #D50C8C;
$color_red: #EE3123;
$color_green: #1FB25A;
$color_skyblue: #72CDF4;
$color_orange: #F68E1E;
$color_yellow: #FFF202;
$color_blue: #007cc2;
$color_rr: #222;
$color_ut: #777;

$color_names: 
  color_brown
  color_magenta
  color_red
  color_green
  color_skyblue
  color_orange
  color_yellow
  color_blue
  color_rr
  color_ut;

$color_vars: 
  $color_brown
  $color_magenta
  $color_red
  $color_green
  $color_skyblue
  $color_orange
  $color_yellow
  $color_blue
  $color_rr
  $color_ut;

div {
  box-sizing: border-box;
  position: relative;
}

.container {
  width: 90%;
  min-width: 320px;
  margin: auto;
}


.expanded_container,
.items_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
}

.expanded_container {
  padding:.6em;
}

.expanded_container div{

}

.item_expanded {
  width: 100%;
  height: 300px;
  transition: all 1s ease;
}

.item {
  width: 32%;
  height: 150px;
  margin: .15em;
}

@each $name in $color_names {
  $i: index($color_names, $name);
  .#{$name} {
    background: nth($color_vars, $i);
  }
}

@media (max-width: 800px) {
  
  .expanded_container {
  padding:.15em;
}
  
  [class^="color"] {
    width: 49%;
  }
  
  
}



@media (max-width: 560px) {
  
  .expanded_container {
    padding:0em;
  }
  
  [class^="color"] {
    width: 100%;
  }
  
  
}
