@charset "UTF-8";
body {
  overflow: Hidden;
}

#wrapper,
.leftWall,
.rightWall,
.ceiling,
.floor,
.door {
  background-image: url(https://i.imgsafe.org/2d788f2366.png);
}

.pane,
.pane2 {
  pointer-events: none;
  user-select: none;
}

#wrapper {
  width: 100vw;
  min-width: 1350px;
  height: 100vh;
  min-height: 100vh;
  background-color: #93CCE2;
  perspective: 1100px;
  box-shadow: inset 0 0 350px rgba(0, 0, 0, 0.5);
}
#wrapper .leftWall,
#wrapper .rightWall {
  position: absolute;
  width: 400px;
  height: 81.5vh;
  background-color: #93CCE2;
  transform-style: preserve-3d;
  top: 9%;
}
#wrapper .leftWall {
  transform: rotateY(102deg);
  z-index: 9999;
  border: 2px solid black;
  left: -210px;
}
#wrapper .leftWall .door {
  width: 35%;
  height: 40%;
  background-color: #957552;
  position: absolute;
  bottom: 4px;
  right: 5%;
  outline: 4px inset #2c3e50;
}
#wrapper .leftWall .door .panel {
  width: calc(35% - 4px);
  height: 38%;
  float: left;
  margin-left: 10%;
  margin-top: 10%;
  border: 4px inset #2c3e50;
}
#wrapper .leftWall .door .knob {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  right: 5%;
  background: url(https://usercontent2.hubstatic.com/4989345_f260.jpg);
  background-size: 100% 100%;
  box-shadow: 0 0 3px black;
}
#wrapper .leftWall .door .bottom {
  width: 70%;
  height: 32.5%;
  position: absolute;
  bottom: 5%;
  left: 15%;
  border: 4px inset #2c3e50;
}
#wrapper .rightWall {
  transform: rotateY(102deg);
  z-index: 9999;
  border: 2px solid black;
  right: -210px;
}
#wrapper .floor {
  width: 120vw;
  height: 130px;
  position: absolute;
  bottom: 0;
  left: -10vw;
  background-color: #493219;
  transform-style: preserve-3d;
  transform: rotateX(41deg);
  border: 2px solid black;
}
#wrapper .ceiling {
  width: 120vw;
  height: 130px;
  position: absolute;
  background-color: rgba(147, 204, 226, 0.65);
  top: 0;
  left: -10vw;
  transform-style: preserve-3d;
  transform: rotateX(-41deg);
  border: 2px solid black;
  box-shadow: inset 0 13px 40px rgba(0, 0, 0, 0.5);
}
#wrapper #window,
#wrapper #window2 {
  width: 500px;
  height: 250px;
  border: 7px outset #34495e;
  position: Absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -70%);
  z-index: 6;
  overflow: hidden;
  box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.65);
}
#wrapper #window .innerWindow,
#wrapper #window .innerWindow2,
#wrapper #window2 .innerWindow,
#wrapper #window2 .innerWindow2 {
  width: 125%;
  height: 175%;
  position: absolute;
  top: -37.5%;
  left: -12.5%;
  background: url(https://i.imgsafe.org/2cb499c0d9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  box-shadow: inset 2px 2px 0 black;
}
#wrapper #window .pane,
#wrapper #window .pane2,
#wrapper #window2 .pane,
#wrapper #window2 .pane2 {
  float: left;
  border: 7px inset #34495e;
  position: relative;
  top: -1px;
  box-shadow: inset 0 0 14px rgba(255, 255, 255, 0.25);
  width: 30.53%;
  height: 29%;
}
#wrapper #window .pane2,
#wrapper #window2 .pane2 {
  height: 60.53%;
}
#wrapper #window2 {
  transform: translate(50%, -70%);
  width: 333.313px;
}
#wrapper #window2 .innerWindow2 {
  background-position-x: -506px;
}
#wrapper #window2 .pane,
#wrapper #window2 .pane2 {
  width: 45.8% !important;
}
#wrapper #bed {
  width: 350px;
  height: 40px;
  background: #284C59;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translate(20%, 150%);
  border-radius: 5px 0 0 5px;
  z-index: 5;
  box-shadow: 0 5px 5px -5px black;
}
#wrapper #bed:before {
  content: '';
  width: 50%;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: #284C59;
  top: -200%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -63%);
}
#wrapper #bed:after {
  content: "";
  width: 100%;
  height: 100px;
  background: #284C59;
  position: absolute;
  right: 0;
  top: -110px;
  border-radius: 50px 50px 5px 5px;
  z-index: -1;
}
#wrapper #bed .pillow {
  width: 50%;
  height: 40px;
  position: absolute;
  top: -204%;
  left: 50%;
  z-index: 5;
  background: linear-gradient(to right, #93CCE2 30px, grey 30px, grey 35px, whitesmoke 35px, whitesmoke 140px, grey 140px, grey 145px, #93CCE2 145px, #93CCE2 145px);
  transform: translate(-50%, 0);
}
#wrapper #bed .pillow:before, #wrapper #bed .pillow:after {
  content: '';
  width: 10%;
  height: 100%;
  background: #284C59;
  position: absolute;
  border-radius: 50%;
}
#wrapper #bed .pillow:before {
  left: -5%;
}
#wrapper #bed .pillow:after {
  right: -5%;
}
#wrapper #bed .topper {
  width: 105%;
  height: 100%;
  position: absolute;
  left: -2.5%;
  top: -100%;
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) 8px, #ecf0f1 8px, #ecf0f1 18px);
  border-radius: 25px 25px 5px 5px;
  box-shadow: 0 5px 5px -5px black;
}
#wrapper #bed .legs {
  width: 30px;
  height: 19px;
  background: #284C59;
  position: absolute;
  bottom: -20px;
}
#wrapper #bed .legs:nth-child(3) {
  left: 10px;
}
#wrapper #bed .legs:nth-child(4) {
  right: 10px;
}

/* Profile Link */
.button.me {
  width: 80px;
  height: 80px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: .25;
  transition: all .5s ease;
  z-index: 9999;
}
.button.me:hover {
  opacity: 1;
}
.button.me:before {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/306669/profile/profile-80_7.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 20px;
  z-index: 9999;
  color: whitesmoke;
  border-radius: 5px 50% 50% 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.button.me:After {
  content: '🍕';
  display: block;
  position: fixed;
  line-height: 30px;
  text-align: right;
  padding-right: 1px;
  width: 60%;
  height: 100%;
  top: 0;
  right: -15%;
  background: #c0392b;
  border-radius: 0 5px 5px 0;
  z-index: -1;
  color: #16a085;
}
