/*variables*/
$ease-hard: cubic-bezier(.08,.91,.08,.93);
$ease-bounce: cubic-bezier(.87,-.41,.19,1.44);
$orange: #ff592c;
$green: #38c159;
$blue: rgb(0,155,255);

/*extends*/
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/*application*/
body {
  font-family: 'Roboto';
  background: #f2f2f2;
}

.battle-field {
  max-width: 500px;
  margin: 200px auto 0 auto;
  @extend .clearfix;
}

.player,
.enemy {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  
  img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
  }
  
   span {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    text-align: center;
    font-weight: 900;
    
    &.damage {
      color: #fff;
      font-size: 36px;
      text-stroke: 1px black;
      opacity: 0;
    }
    &.msg{
      top: -5px;
      font-size: 24px;
      text-tranform: uppercase;
      opacity: 0;
      
      &.display-Dodge {
        color: #fff;
        text-stroke: 1px black;
        opacity: 1;
        animation: damageFly 0.805s $ease-hard 1;
      }
      &.display-Crit {
        color: red;
        opacity: 1;
        animation: damageFly 0.805s $ease-hard 1;
        
        & ~ .damage {
        }
      }
    }
    
     
    &.display-damage {
      opacity: 1;
      animation: damageFly 0.805s $ease-hard 0.15s 1;
    }
  }
}

.slash-anim {
  &:before {
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
    width: 0px;
    height: 0px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 120px solid $blue;
    transform: rotateZ(45deg);
    animation: attackSlash 0.505s $ease-hard 1;
  }
}

.player {
  float: left;
  
  &.struck img{
    animation: playerStruck 0.6s $ease-hard;
  }
  &.step-back img {
    animation: dodge 0.6s $ease-hard;
  }
}
.enemy {
  float: right;
  
  &.struck img{
    animation: enemyStruck 0.6s $ease-hard;
  }
  &.step-back img {
    animation: dodge 0.6s $ease-hard;
  }
}

.health-bar {
  display: block;
  width: inherit;
  height: 5px;
  margin-top: -15px;
  background-color: red;
  
  .health {
    width: inherit;
    height: inherit;
    background-color: rgb(0,255,100);
    transition: width 0.25s $ease-hard;
    transform: translate3d(0,0,0);
  }
}

/*spells*/
.meteors {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  z-index: 2;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  background-color: $orange;
  border-radius: 50%;
  animation: meteors 0.8s ease-in 1;
}

/*animations*/
@keyframes attackSlash {
  0% {
    transform: translate3d(70px,-70px,0) rotateZ(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0px,0px,0) rotateZ(45deg);
    opacity: 0;
  }
}

@keyframes playerStruck {
  0% {
    transform: translate3d(0px,0,0)
  }
  50% {
    transform: translate3d(-15px,0,0)
  }
  100% {
    transform: translate3d(0px,0,0)
  }
}
@keyframes enemyStruck {
  0% {
    transform: translate3d(0px,0,0)
  }
  50% {
    transform: translate3d(15px,0,0)
  }
  100% {
    transform: translate3d(0px,0,0)
  }
}

@keyframes dodge {
  0%{
    transform: scale(1)
  }
  50%{
    transform: scale(0.85)
  }
  100%{
    transform: scale(1);
  }
}

@keyframes damageFly {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
  
  75%{
    opacity: 1;
  }
  
  100% {
    transform: translateX(0px) translateY(-90px) translateZ(0px);
    opacity: 0;
  }
}

@keyframes meteors {
  0% {
    transform: translate3d(200px,-400px,0);
    box-shadow: 0 0 0 0 #fff;
  }
  60% {
    box-shadow: 0 0 0 0px #fff;
    background-color: $orange;
  }
  70% {
    transform: translate3d(0px,0px,0);
    box-shadow: 0 0 0 60px #fff;
    background-color: #fff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 100px $orange;
    color: $orange;
    opacity: 0;
  }
}