div {
  box-sizing: border-box;
  position: relative;
}

.container {
  width: 90%;
  min-width: 320px;
  margin: auto;
}

.expanded_container,
.items_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
}

.expanded_container {
  padding: .6em;
}

.item_expanded {
  width: 100%;
  height: 300px;
  transition: all 1s ease;
}

.item {
  width: 32%;
  height: 150px;
  margin: .15em;
}

.color_brown {
  background: #90492C;
}

.color_magenta {
  background: #D50C8C;
}

.color_red {
  background: #EE3123;
}

.color_green {
  background: #1FB25A;
}

.color_skyblue {
  background: #72CDF4;
}

.color_orange {
  background: #F68E1E;
}

.color_yellow {
  background: #FFF202;
}

.color_blue {
  background: #007cc2;
}

.color_rr {
  background: #222;
}

.color_ut {
  background: #777;
}

@media (max-width: 800px) {
  .expanded_container {
    padding: .15em;
  }

  [class^="color"] {
    width: 49%;
  }
}
@media (max-width: 560px) {
  .expanded_container {
    padding: 0em;
  }

  [class^="color"] {
    width: 100%;
  }
}
