body {
	background: #010101;
	height: 170vh;
  font-family: impact;
  font-size: 300%;
}

.container {
	height: 100%;
	perspective: 2000px;
	background: #000;
	margin-top: 100px;
}

.dice {
  text-align:right;
  position: relative;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	animation: spin 9s infinite alternate;
	transform-style: preserve-3d;
  vertical-align: middle;
}

@keyframes spin {
	0% {
		transform: rotateX(90deg) rotateY(360deg) translateZ(0px);
	}
	20% {
		transform: rotateY(-90deg) rotateX(360deg) translateZ(0px);
	}
	40% {
		transform: rotateX(-90deg) rotateX(360deg) translateZ(0px);
	}
  60% {
		transform: rotateY(90deg) rotateY(360deg) translateZ(0px);
	}
	80% {
		transform: rotateX(-90deg) rotateX(360deg) translateZ(0px);
	}
	100% {
		transform: translateZ(0px);
	}
}

.container:hover .dice {
	animation: none;
	width: auto;
}

.dice > div {
	position: absolute;
	height: 200px;
	width: 200px;
	transition: all 1s;
	opacity: .5;
  box-shadow: inset 0 0 5px black; 

}

.container:hover .dice > .side {
	position: relative;
	transform: none;
	display: inline-block;
	margin: .5%;
}

.container .dice > .side:hover {
	transform: scale(1.1);
}

.one {
	transform: rotateX(90deg) translateZ(100px);
	background-color: #fff ;
  opacity: .3;
}

.two {
	transform: rotateY(-90deg) translateZ(100px);
  background-color: #fff ;  opacity: .3;
}

.three {
	transform: rotateY(90deg) translateZ(100px);
  background-color: #fff ;
  opacity: .3;
}

.four {
	transform: rotateY(180deg) translateZ(100px);
  background-color: #fff ;
  opacity: .3;
}

.five {
	transform: translateZ(100px);
  background-color: #fff ;
  opacity: .3;
}

.six {
	transform: rotateX(-90deg) translateZ(100px);
  background-color: #fff ;
  opacity: .3;
}
