* {padding:0;margin:0;}
body {background:url(http://fotos.subefotos.com/6fb19d93b5ab5f0b7aca4b1e130b8e36o.png)repeat 0 0;}
nav {
    width:60%;
    margin:10% auto;
}
ul {
    list-style:none;
    overflow:visible;
    text-align:center;
}
li {
    float:left;
    border-top:3px solid rgb(208,72,0);
    margin:0 2px;
    position:relative;
}
li>a {
    text-decoration:none;
    display:block;
    padding:40px 30px;
    letter-spacing:0.2em;
    text-transform:uppercase;
    font: 700 15px / 30px 'Times New Roman';
    text-shadow:0 0 3px #fff;
    color:transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition:all 400ms linear;
    -moz-transition:all 400ms linear;
    -o-transition:all 400ms linear;
    transition:all 400ms linear;
}
li>a.visited, li>a:hover {
    color:#fff;
    border-top:2px solid #ccc;
}
li>a.visited {background:rgb(208,72,0);}
li>a.visited:before,li>a.visited:after {
    display:block;
    content:"";
    width:0;
    height: 0;
    position:absolute;
    background: none;
    bottom:-100px;
    border-top: 100px solid rgb(208,72,0);
}
li>a.visited:before {
    border-right: 100px solid transparent;
    left:0;
}
li>a.visited:after {
    border-left: 100px solid transparent;
    right:0;
}
/* Responsive */
@media screen and (max-width: 1325px) {
    nav {width:75%;}
    li>a {padding:35px 25px;}
}
@media screen and (max-width: 1024px) {
    nav {width:80%;}
    li>a {padding:30px 20px;}
}
@media screen and (max-width: 870px) {
    nav {width:90%;}
}
@media screen and (max-width: 768px) {
    nav {width:40%;margin:10%;}
    ul {text-align:left;}
    li {float:none;border-top:none;border-left:3px solid rgb(208,72,0);margin-bottom:2px;}
    li>a {padding:40px 20px;max-width:200px;min-width:200px;}
    li>a.visited, li>a:hover {border-top:none;border-left:2px solid #ccc;}
    li>a.visited:before,li>a.visited:after {left:200px;}
    li>a.visited:before {
        border-top:55px solid rgb(208,72,0);
        border-right:75px solid transparent;
        top:0;
    }
    li>a.visited:after {
        border-bottom:55px solid rgb(208,72,0);
        border-right:75px solid transparent;
        border-left:0;
        border-top:0;
        bottom:0;
    }
}
@media screen and (max-width: 400px) {
    nav {width:50%;}
}