@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front, .back {
  position: relative;
  width: 100vw;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.front:before, .front:after, .back:before, .back:after {
  content: '';
  position: absolute;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/dirtywall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.front {
  z-index: 2;
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transition: -webkit-perspective-origin 0.6s;
  transition: -webkit-perspective-origin 0.6s;
  transition: perspective-origin 0.6s;
  transition: perspective-origin 0.6s, -webkit-perspective-origin 0.6s;
}
.front:before, .front:after {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
.front:before {
  background-color: #957141;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
.front:after {
  background-color: #866e18;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.back {
  z-index: 1;
  background-color: #b9a08d;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/dirtywall.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-transform: translateZ(-100vw);
          transform: translateZ(-100vw);
}
.back:before, .back:after {
  right: 0;
  left: 0;
  height: 100vw;
}
.back:before {
  top: 0;
  background-color: #bdcbcb;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
.back:after {
  bottom: 0;
  background-color: #887a68;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/woodenfloor.jpg");
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.blind {
  position: absolute;
  width: 10%;
  height: 10%;
  z-index: 5;
  background-color: white;
  opacity: 0;
}

.blind:nth-child(1) {
  top: 0%;
  left: 0%;
}

.blind:nth-child(1):hover ~ .front {
  -webkit-perspective-origin: 0% 0%;
          perspective-origin: 0% 0%;
}

.blind:nth-child(2) {
  top: 0%;
  left: 10%;
}

.blind:nth-child(2):hover ~ .front {
  -webkit-perspective-origin: 10% 0%;
          perspective-origin: 10% 0%;
}

.blind:nth-child(3) {
  top: 0%;
  left: 20%;
}

.blind:nth-child(3):hover ~ .front {
  -webkit-perspective-origin: 20% 0%;
          perspective-origin: 20% 0%;
}

.blind:nth-child(4) {
  top: 0%;
  left: 30%;
}

.blind:nth-child(4):hover ~ .front {
  -webkit-perspective-origin: 30% 0%;
          perspective-origin: 30% 0%;
}

.blind:nth-child(5) {
  top: 0%;
  left: 40%;
}

.blind:nth-child(5):hover ~ .front {
  -webkit-perspective-origin: 40% 0%;
          perspective-origin: 40% 0%;
}

.blind:nth-child(6) {
  top: 0%;
  left: 50%;
}

.blind:nth-child(6):hover ~ .front {
  -webkit-perspective-origin: 50% 0%;
          perspective-origin: 50% 0%;
}

.blind:nth-child(7) {
  top: 0%;
  left: 60%;
}

.blind:nth-child(7):hover ~ .front {
  -webkit-perspective-origin: 60% 0%;
          perspective-origin: 60% 0%;
}

.blind:nth-child(8) {
  top: 0%;
  left: 70%;
}

.blind:nth-child(8):hover ~ .front {
  -webkit-perspective-origin: 70% 0%;
          perspective-origin: 70% 0%;
}

.blind:nth-child(9) {
  top: 0%;
  left: 80%;
}

.blind:nth-child(9):hover ~ .front {
  -webkit-perspective-origin: 80% 0%;
          perspective-origin: 80% 0%;
}

.blind:nth-child(10) {
  top: 0%;
  left: 90%;
}

.blind:nth-child(10):hover ~ .front {
  -webkit-perspective-origin: 90% 0%;
          perspective-origin: 90% 0%;
}

.blind:nth-child(11) {
  top: 10%;
  left: 0%;
}

.blind:nth-child(11):hover ~ .front {
  -webkit-perspective-origin: 0% 10%;
          perspective-origin: 0% 10%;
}

.blind:nth-child(12) {
  top: 10%;
  left: 10%;
}

.blind:nth-child(12):hover ~ .front {
  -webkit-perspective-origin: 10% 10%;
          perspective-origin: 10% 10%;
}

.blind:nth-child(13) {
  top: 10%;
  left: 20%;
}

.blind:nth-child(13):hover ~ .front {
  -webkit-perspective-origin: 20% 10%;
          perspective-origin: 20% 10%;
}

.blind:nth-child(14) {
  top: 10%;
  left: 30%;
}

.blind:nth-child(14):hover ~ .front {
  -webkit-perspective-origin: 30% 10%;
          perspective-origin: 30% 10%;
}

.blind:nth-child(15) {
  top: 10%;
  left: 40%;
}

.blind:nth-child(15):hover ~ .front {
  -webkit-perspective-origin: 40% 10%;
          perspective-origin: 40% 10%;
}

.blind:nth-child(16) {
  top: 10%;
  left: 50%;
}

.blind:nth-child(16):hover ~ .front {
  -webkit-perspective-origin: 50% 10%;
          perspective-origin: 50% 10%;
}

.blind:nth-child(17) {
  top: 10%;
  left: 60%;
}

.blind:nth-child(17):hover ~ .front {
  -webkit-perspective-origin: 60% 10%;
          perspective-origin: 60% 10%;
}

.blind:nth-child(18) {
  top: 10%;
  left: 70%;
}

.blind:nth-child(18):hover ~ .front {
  -webkit-perspective-origin: 70% 10%;
          perspective-origin: 70% 10%;
}

.blind:nth-child(19) {
  top: 10%;
  left: 80%;
}

.blind:nth-child(19):hover ~ .front {
  -webkit-perspective-origin: 80% 10%;
          perspective-origin: 80% 10%;
}

.blind:nth-child(20) {
  top: 10%;
  left: 90%;
}

.blind:nth-child(20):hover ~ .front {
  -webkit-perspective-origin: 90% 10%;
          perspective-origin: 90% 10%;
}

.blind:nth-child(21) {
  top: 20%;
  left: 0%;
}

.blind:nth-child(21):hover ~ .front {
  -webkit-perspective-origin: 0% 20%;
          perspective-origin: 0% 20%;
}

.blind:nth-child(22) {
  top: 20%;
  left: 10%;
}

.blind:nth-child(22):hover ~ .front {
  -webkit-perspective-origin: 10% 20%;
          perspective-origin: 10% 20%;
}

.blind:nth-child(23) {
  top: 20%;
  left: 20%;
}

.blind:nth-child(23):hover ~ .front {
  -webkit-perspective-origin: 20% 20%;
          perspective-origin: 20% 20%;
}

.blind:nth-child(24) {
  top: 20%;
  left: 30%;
}

.blind:nth-child(24):hover ~ .front {
  -webkit-perspective-origin: 30% 20%;
          perspective-origin: 30% 20%;
}

.blind:nth-child(25) {
  top: 20%;
  left: 40%;
}

.blind:nth-child(25):hover ~ .front {
  -webkit-perspective-origin: 40% 20%;
          perspective-origin: 40% 20%;
}

.blind:nth-child(26) {
  top: 20%;
  left: 50%;
}

.blind:nth-child(26):hover ~ .front {
  -webkit-perspective-origin: 50% 20%;
          perspective-origin: 50% 20%;
}

.blind:nth-child(27) {
  top: 20%;
  left: 60%;
}

.blind:nth-child(27):hover ~ .front {
  -webkit-perspective-origin: 60% 20%;
          perspective-origin: 60% 20%;
}

.blind:nth-child(28) {
  top: 20%;
  left: 70%;
}

.blind:nth-child(28):hover ~ .front {
  -webkit-perspective-origin: 70% 20%;
          perspective-origin: 70% 20%;
}

.blind:nth-child(29) {
  top: 20%;
  left: 80%;
}

.blind:nth-child(29):hover ~ .front {
  -webkit-perspective-origin: 80% 20%;
          perspective-origin: 80% 20%;
}

.blind:nth-child(30) {
  top: 20%;
  left: 90%;
}

.blind:nth-child(30):hover ~ .front {
  -webkit-perspective-origin: 90% 20%;
          perspective-origin: 90% 20%;
}

.blind:nth-child(31) {
  top: 30%;
  left: 0%;
}

.blind:nth-child(31):hover ~ .front {
  -webkit-perspective-origin: 0% 30%;
          perspective-origin: 0% 30%;
}

.blind:nth-child(32) {
  top: 30%;
  left: 10%;
}

.blind:nth-child(32):hover ~ .front {
  -webkit-perspective-origin: 10% 30%;
          perspective-origin: 10% 30%;
}

.blind:nth-child(33) {
  top: 30%;
  left: 20%;
}

.blind:nth-child(33):hover ~ .front {
  -webkit-perspective-origin: 20% 30%;
          perspective-origin: 20% 30%;
}

.blind:nth-child(34) {
  top: 30%;
  left: 30%;
}

.blind:nth-child(34):hover ~ .front {
  -webkit-perspective-origin: 30% 30%;
          perspective-origin: 30% 30%;
}

.blind:nth-child(35) {
  top: 30%;
  left: 40%;
}

.blind:nth-child(35):hover ~ .front {
  -webkit-perspective-origin: 40% 30%;
          perspective-origin: 40% 30%;
}

.blind:nth-child(36) {
  top: 30%;
  left: 50%;
}

.blind:nth-child(36):hover ~ .front {
  -webkit-perspective-origin: 50% 30%;
          perspective-origin: 50% 30%;
}

.blind:nth-child(37) {
  top: 30%;
  left: 60%;
}

.blind:nth-child(37):hover ~ .front {
  -webkit-perspective-origin: 60% 30%;
          perspective-origin: 60% 30%;
}

.blind:nth-child(38) {
  top: 30%;
  left: 70%;
}

.blind:nth-child(38):hover ~ .front {
  -webkit-perspective-origin: 70% 30%;
          perspective-origin: 70% 30%;
}

.blind:nth-child(39) {
  top: 30%;
  left: 80%;
}

.blind:nth-child(39):hover ~ .front {
  -webkit-perspective-origin: 80% 30%;
          perspective-origin: 80% 30%;
}

.blind:nth-child(40) {
  top: 30%;
  left: 90%;
}

.blind:nth-child(40):hover ~ .front {
  -webkit-perspective-origin: 90% 30%;
          perspective-origin: 90% 30%;
}

.blind:nth-child(41) {
  top: 40%;
  left: 0%;
}

.blind:nth-child(41):hover ~ .front {
  -webkit-perspective-origin: 0% 40%;
          perspective-origin: 0% 40%;
}

.blind:nth-child(42) {
  top: 40%;
  left: 10%;
}

.blind:nth-child(42):hover ~ .front {
  -webkit-perspective-origin: 10% 40%;
          perspective-origin: 10% 40%;
}

.blind:nth-child(43) {
  top: 40%;
  left: 20%;
}

.blind:nth-child(43):hover ~ .front {
  -webkit-perspective-origin: 20% 40%;
          perspective-origin: 20% 40%;
}

.blind:nth-child(44) {
  top: 40%;
  left: 30%;
}

.blind:nth-child(44):hover ~ .front {
  -webkit-perspective-origin: 30% 40%;
          perspective-origin: 30% 40%;
}

.blind:nth-child(45) {
  top: 40%;
  left: 40%;
}

.blind:nth-child(45):hover ~ .front {
  -webkit-perspective-origin: 40% 40%;
          perspective-origin: 40% 40%;
}

.blind:nth-child(46) {
  top: 40%;
  left: 50%;
}

.blind:nth-child(46):hover ~ .front {
  -webkit-perspective-origin: 50% 40%;
          perspective-origin: 50% 40%;
}

.blind:nth-child(47) {
  top: 40%;
  left: 60%;
}

.blind:nth-child(47):hover ~ .front {
  -webkit-perspective-origin: 60% 40%;
          perspective-origin: 60% 40%;
}

.blind:nth-child(48) {
  top: 40%;
  left: 70%;
}

.blind:nth-child(48):hover ~ .front {
  -webkit-perspective-origin: 70% 40%;
          perspective-origin: 70% 40%;
}

.blind:nth-child(49) {
  top: 40%;
  left: 80%;
}

.blind:nth-child(49):hover ~ .front {
  -webkit-perspective-origin: 80% 40%;
          perspective-origin: 80% 40%;
}

.blind:nth-child(50) {
  top: 40%;
  left: 90%;
}

.blind:nth-child(50):hover ~ .front {
  -webkit-perspective-origin: 90% 40%;
          perspective-origin: 90% 40%;
}

.blind:nth-child(51) {
  top: 50%;
  left: 0%;
}

.blind:nth-child(51):hover ~ .front {
  -webkit-perspective-origin: 0% 50%;
          perspective-origin: 0% 50%;
}

.blind:nth-child(52) {
  top: 50%;
  left: 10%;
}

.blind:nth-child(52):hover ~ .front {
  -webkit-perspective-origin: 10% 50%;
          perspective-origin: 10% 50%;
}

.blind:nth-child(53) {
  top: 50%;
  left: 20%;
}

.blind:nth-child(53):hover ~ .front {
  -webkit-perspective-origin: 20% 50%;
          perspective-origin: 20% 50%;
}

.blind:nth-child(54) {
  top: 50%;
  left: 30%;
}

.blind:nth-child(54):hover ~ .front {
  -webkit-perspective-origin: 30% 50%;
          perspective-origin: 30% 50%;
}

.blind:nth-child(55) {
  top: 50%;
  left: 40%;
}

.blind:nth-child(55):hover ~ .front {
  -webkit-perspective-origin: 40% 50%;
          perspective-origin: 40% 50%;
}

.blind:nth-child(56) {
  top: 50%;
  left: 50%;
}

.blind:nth-child(56):hover ~ .front {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.blind:nth-child(57) {
  top: 50%;
  left: 60%;
}

.blind:nth-child(57):hover ~ .front {
  -webkit-perspective-origin: 60% 50%;
          perspective-origin: 60% 50%;
}

.blind:nth-child(58) {
  top: 50%;
  left: 70%;
}

.blind:nth-child(58):hover ~ .front {
  -webkit-perspective-origin: 70% 50%;
          perspective-origin: 70% 50%;
}

.blind:nth-child(59) {
  top: 50%;
  left: 80%;
}

.blind:nth-child(59):hover ~ .front {
  -webkit-perspective-origin: 80% 50%;
          perspective-origin: 80% 50%;
}

.blind:nth-child(60) {
  top: 50%;
  left: 90%;
}

.blind:nth-child(60):hover ~ .front {
  -webkit-perspective-origin: 90% 50%;
          perspective-origin: 90% 50%;
}

.blind:nth-child(61) {
  top: 60%;
  left: 0%;
}

.blind:nth-child(61):hover ~ .front {
  -webkit-perspective-origin: 0% 60%;
          perspective-origin: 0% 60%;
}

.blind:nth-child(62) {
  top: 60%;
  left: 10%;
}

.blind:nth-child(62):hover ~ .front {
  -webkit-perspective-origin: 10% 60%;
          perspective-origin: 10% 60%;
}

.blind:nth-child(63) {
  top: 60%;
  left: 20%;
}

.blind:nth-child(63):hover ~ .front {
  -webkit-perspective-origin: 20% 60%;
          perspective-origin: 20% 60%;
}

.blind:nth-child(64) {
  top: 60%;
  left: 30%;
}

.blind:nth-child(64):hover ~ .front {
  -webkit-perspective-origin: 30% 60%;
          perspective-origin: 30% 60%;
}

.blind:nth-child(65) {
  top: 60%;
  left: 40%;
}

.blind:nth-child(65):hover ~ .front {
  -webkit-perspective-origin: 40% 60%;
          perspective-origin: 40% 60%;
}

.blind:nth-child(66) {
  top: 60%;
  left: 50%;
}

.blind:nth-child(66):hover ~ .front {
  -webkit-perspective-origin: 50% 60%;
          perspective-origin: 50% 60%;
}

.blind:nth-child(67) {
  top: 60%;
  left: 60%;
}

.blind:nth-child(67):hover ~ .front {
  -webkit-perspective-origin: 60% 60%;
          perspective-origin: 60% 60%;
}

.blind:nth-child(68) {
  top: 60%;
  left: 70%;
}

.blind:nth-child(68):hover ~ .front {
  -webkit-perspective-origin: 70% 60%;
          perspective-origin: 70% 60%;
}

.blind:nth-child(69) {
  top: 60%;
  left: 80%;
}

.blind:nth-child(69):hover ~ .front {
  -webkit-perspective-origin: 80% 60%;
          perspective-origin: 80% 60%;
}

.blind:nth-child(70) {
  top: 60%;
  left: 90%;
}

.blind:nth-child(70):hover ~ .front {
  -webkit-perspective-origin: 90% 60%;
          perspective-origin: 90% 60%;
}

.blind:nth-child(71) {
  top: 70%;
  left: 0%;
}

.blind:nth-child(71):hover ~ .front {
  -webkit-perspective-origin: 0% 70%;
          perspective-origin: 0% 70%;
}

.blind:nth-child(72) {
  top: 70%;
  left: 10%;
}

.blind:nth-child(72):hover ~ .front {
  -webkit-perspective-origin: 10% 70%;
          perspective-origin: 10% 70%;
}

.blind:nth-child(73) {
  top: 70%;
  left: 20%;
}

.blind:nth-child(73):hover ~ .front {
  -webkit-perspective-origin: 20% 70%;
          perspective-origin: 20% 70%;
}

.blind:nth-child(74) {
  top: 70%;
  left: 30%;
}

.blind:nth-child(74):hover ~ .front {
  -webkit-perspective-origin: 30% 70%;
          perspective-origin: 30% 70%;
}

.blind:nth-child(75) {
  top: 70%;
  left: 40%;
}

.blind:nth-child(75):hover ~ .front {
  -webkit-perspective-origin: 40% 70%;
          perspective-origin: 40% 70%;
}

.blind:nth-child(76) {
  top: 70%;
  left: 50%;
}

.blind:nth-child(76):hover ~ .front {
  -webkit-perspective-origin: 50% 70%;
          perspective-origin: 50% 70%;
}

.blind:nth-child(77) {
  top: 70%;
  left: 60%;
}

.blind:nth-child(77):hover ~ .front {
  -webkit-perspective-origin: 60% 70%;
          perspective-origin: 60% 70%;
}

.blind:nth-child(78) {
  top: 70%;
  left: 70%;
}

.blind:nth-child(78):hover ~ .front {
  -webkit-perspective-origin: 70% 70%;
          perspective-origin: 70% 70%;
}

.blind:nth-child(79) {
  top: 70%;
  left: 80%;
}

.blind:nth-child(79):hover ~ .front {
  -webkit-perspective-origin: 80% 70%;
          perspective-origin: 80% 70%;
}

.blind:nth-child(80) {
  top: 70%;
  left: 90%;
}

.blind:nth-child(80):hover ~ .front {
  -webkit-perspective-origin: 90% 70%;
          perspective-origin: 90% 70%;
}

.blind:nth-child(81) {
  top: 80%;
  left: 0%;
}

.blind:nth-child(81):hover ~ .front {
  -webkit-perspective-origin: 0% 80%;
          perspective-origin: 0% 80%;
}

.blind:nth-child(82) {
  top: 80%;
  left: 10%;
}

.blind:nth-child(82):hover ~ .front {
  -webkit-perspective-origin: 10% 80%;
          perspective-origin: 10% 80%;
}

.blind:nth-child(83) {
  top: 80%;
  left: 20%;
}

.blind:nth-child(83):hover ~ .front {
  -webkit-perspective-origin: 20% 80%;
          perspective-origin: 20% 80%;
}

.blind:nth-child(84) {
  top: 80%;
  left: 30%;
}

.blind:nth-child(84):hover ~ .front {
  -webkit-perspective-origin: 30% 80%;
          perspective-origin: 30% 80%;
}

.blind:nth-child(85) {
  top: 80%;
  left: 40%;
}

.blind:nth-child(85):hover ~ .front {
  -webkit-perspective-origin: 40% 80%;
          perspective-origin: 40% 80%;
}

.blind:nth-child(86) {
  top: 80%;
  left: 50%;
}

.blind:nth-child(86):hover ~ .front {
  -webkit-perspective-origin: 50% 80%;
          perspective-origin: 50% 80%;
}

.blind:nth-child(87) {
  top: 80%;
  left: 60%;
}

.blind:nth-child(87):hover ~ .front {
  -webkit-perspective-origin: 60% 80%;
          perspective-origin: 60% 80%;
}

.blind:nth-child(88) {
  top: 80%;
  left: 70%;
}

.blind:nth-child(88):hover ~ .front {
  -webkit-perspective-origin: 70% 80%;
          perspective-origin: 70% 80%;
}

.blind:nth-child(89) {
  top: 80%;
  left: 80%;
}

.blind:nth-child(89):hover ~ .front {
  -webkit-perspective-origin: 80% 80%;
          perspective-origin: 80% 80%;
}

.blind:nth-child(90) {
  top: 80%;
  left: 90%;
}

.blind:nth-child(90):hover ~ .front {
  -webkit-perspective-origin: 90% 80%;
          perspective-origin: 90% 80%;
}

.blind:nth-child(91) {
  top: 90%;
  left: 0%;
}

.blind:nth-child(91):hover ~ .front {
  -webkit-perspective-origin: 0% 90%;
          perspective-origin: 0% 90%;
}

.blind:nth-child(92) {
  top: 90%;
  left: 10%;
}

.blind:nth-child(92):hover ~ .front {
  -webkit-perspective-origin: 10% 90%;
          perspective-origin: 10% 90%;
}

.blind:nth-child(93) {
  top: 90%;
  left: 20%;
}

.blind:nth-child(93):hover ~ .front {
  -webkit-perspective-origin: 20% 90%;
          perspective-origin: 20% 90%;
}

.blind:nth-child(94) {
  top: 90%;
  left: 30%;
}

.blind:nth-child(94):hover ~ .front {
  -webkit-perspective-origin: 30% 90%;
          perspective-origin: 30% 90%;
}

.blind:nth-child(95) {
  top: 90%;
  left: 40%;
}

.blind:nth-child(95):hover ~ .front {
  -webkit-perspective-origin: 40% 90%;
          perspective-origin: 40% 90%;
}

.blind:nth-child(96) {
  top: 90%;
  left: 50%;
}

.blind:nth-child(96):hover ~ .front {
  -webkit-perspective-origin: 50% 90%;
          perspective-origin: 50% 90%;
}

.blind:nth-child(97) {
  top: 90%;
  left: 60%;
}

.blind:nth-child(97):hover ~ .front {
  -webkit-perspective-origin: 60% 90%;
          perspective-origin: 60% 90%;
}

.blind:nth-child(98) {
  top: 90%;
  left: 70%;
}

.blind:nth-child(98):hover ~ .front {
  -webkit-perspective-origin: 70% 90%;
          perspective-origin: 70% 90%;
}

.blind:nth-child(99) {
  top: 90%;
  left: 80%;
}

.blind:nth-child(99):hover ~ .front {
  -webkit-perspective-origin: 80% 90%;
          perspective-origin: 80% 90%;
}

.blind:nth-child(100) {
  top: 90%;
  left: 90%;
}

.blind:nth-child(100):hover ~ .front {
  -webkit-perspective-origin: 90% 90%;
          perspective-origin: 90% 90%;
}

.figures {
  position: absolute;
  display: block;
  height: auto;
}

.bear {
  left: 30%;
  bottom: 0;
  width: 50%;
  height: auto;
  z-index: 2;
  -webkit-transform: translateZ(-70vw);
          transform: translateZ(-70vw);
}

.sheep {
  left: 0;
  bottom: 0;
  width: 30%;
  z-index: 2;
  -webkit-transform: translateZ(-55vw);
          transform: translateZ(-55vw);
}

.monster {
  left: 5%;
  bottom: 0;
  width: 12%;
  z-index: 2;
  -webkit-transform: translateZ(-3vw);
          transform: translateZ(-3vw);
}

.bat {
  left: 15%;
  bottom: 0;
  width: 10%;
  z-index: 2;
  -webkit-transform: translateZ(-4vw);
          transform: translateZ(-4vw);
}

.carp {
  left: 22%;
  bottom: 0%;
  width: 7%;
  z-index: 2;
  -webkit-transform: translateZ(-2vw);
          transform: translateZ(-2vw);
}

.dinosaure {
  left: 28%;
  bottom: 0;
  width: 15%;
  z-index: 2;
  -webkit-transform: translateZ(-4vw);
          transform: translateZ(-4vw);
}

.wardrobe {
  right: 5%;
  bottom: 0;
  width: 15%;
  z-index: 2;
  -webkit-transform: translateZ(-7vw);
          transform: translateZ(-7vw);
}

.bed {
  right: 24%;
  bottom: 2%;
  width: 23%;
  z-index: 2;
  -webkit-transform: translateZ(-2vw);
          transform: translateZ(-2vw);
}

.table {
  right: 21%;
  bottom: 2%;
  width: 20%;
  z-index: 2;
  -webkit-transform: translateZ(-13vw);
          transform: translateZ(-13vw);
}
