/*variables*/
/*extends*/
.clearfix, .battle-field {
  *zoom: 1;
}
.clearfix:before, .battle-field:before, .clearfix:after, .battle-field:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after, .battle-field:after {
  clear: both;
}

/*application*/
body {
  font-family: 'Roboto';
  background: #f2f2f2;
}

.battle-field {
  max-width: 500px;
  margin: 200px auto 0 auto;
}

.player,
.enemy {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.player img,
.enemy img {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
}
.player span,
.enemy span {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20px;
  text-align: center;
  font-weight: 900;
}
.player span.damage,
.enemy span.damage {
  color: #fff;
  font-size: 36px;
  text-stroke: 1px black;
  opacity: 0;
}
.player span.msg,
.enemy span.msg {
  top: -5px;
  font-size: 24px;
  text-tranform: uppercase;
  opacity: 0;
}
.player span.msg.display-Dodge,
.enemy span.msg.display-Dodge {
  color: #fff;
  text-stroke: 1px black;
  opacity: 1;
  animation: damageFly 0.805s cubic-bezier(0.08, 0.91, 0.08, 0.93) 1;
}
.player span.msg.display-Crit,
.enemy span.msg.display-Crit {
  color: red;
  opacity: 1;
  animation: damageFly 0.805s cubic-bezier(0.08, 0.91, 0.08, 0.93) 1;
}
.player span.display-damage,
.enemy span.display-damage {
  opacity: 1;
  animation: damageFly 0.805s cubic-bezier(0.08, 0.91, 0.08, 0.93) 0.15s 1;
}

.slash-anim:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
  width: 0px;
  height: 0px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 120px solid #009bff;
  transform: rotateZ(45deg);
  animation: attackSlash 0.505s cubic-bezier(0.08, 0.91, 0.08, 0.93) 1;
}

.player {
  float: left;
}
.player.struck img {
  animation: playerStruck 0.6s cubic-bezier(0.08, 0.91, 0.08, 0.93);
}
.player.step-back img {
  animation: dodge 0.6s cubic-bezier(0.08, 0.91, 0.08, 0.93);
}

.enemy {
  float: right;
}
.enemy.struck img {
  animation: enemyStruck 0.6s cubic-bezier(0.08, 0.91, 0.08, 0.93);
}
.enemy.step-back img {
  animation: dodge 0.6s cubic-bezier(0.08, 0.91, 0.08, 0.93);
}

.health-bar {
  display: block;
  width: inherit;
  height: 5px;
  margin-top: -15px;
  background-color: red;
}
.health-bar .health {
  width: inherit;
  height: inherit;
  background-color: #00ff64;
  transition: width 0.25s cubic-bezier(0.08, 0.91, 0.08, 0.93);
  transform: translate3d(0, 0, 0);
}

/*spells*/
.meteors {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  z-index: 2;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  background-color: #ff592c;
  border-radius: 50%;
  animation: meteors 0.8s ease-in 1;
}

/*animations*/
@keyframes attackSlash {
  0% {
    transform: translate3d(70px, -70px, 0) rotateZ(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, 0px, 0) rotateZ(45deg);
    opacity: 0;
  }
}
@keyframes playerStruck {
  0% {
    transform: translate3d(0px, 0, 0);
  }
  50% {
    transform: translate3d(-15px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes enemyStruck {
  0% {
    transform: translate3d(0px, 0, 0);
  }
  50% {
    transform: translate3d(15px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes dodge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes damageFly {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px) translateY(-90px) translateZ(0px);
    opacity: 0;
  }
}
@keyframes meteors {
  0% {
    transform: translate3d(200px, -400px, 0);
    box-shadow: 0 0 0 0 #fff;
  }
  60% {
    box-shadow: 0 0 0 0px #fff;
    background-color: #ff592c;
  }
  70% {
    transform: translate3d(0px, 0px, 0);
    box-shadow: 0 0 0 60px #fff;
    background-color: #fff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 100px #ff592c;
    color: #ff592c;
    opacity: 0;
  }
}
