body {
  font-family: 'Futura', sans-serif;
}

h3 {
  font-size: 24px;
}
.container {
  width: 100%;
}

.group {
  width: 30%;
  display: block;
  float: left;
}

.cell-wrap {
  vertical-align: top;
  background-color: #33FFFF;
  width: 30%;
  max-height: 260px;
  display: inline-block;
}

.name {
  padding-top: 10px;
  width: 75%;
  margin: 0 auto;
}

.column-1 {
  background: #DDF0E4;
  height: 200px;
  text-align: center;
}

.light {
  height: 40px;
  width: 40px;
  background-color: #777;
  border-radius: 50%;
  margin: 80px auto;
  transition: background 500ms;
}


/*****topper colors******/

.periwinkle {
  background: #AFDFF6;
  height: 60px;
}
.railroad {
  background: #000;
  height: 60px;
}
.poop {
  background: #965538;
  height: 60px;
}
.red {
  background: #E71E22;
  height: 60px;
}
.orange {
  background: #F5941E;
  height: 60px;
}
.pink {
  background: #D63E8E;
  height: 60px;
}
.blue {
  background: #0072B8;
  height: 60px;
}
.green {
  background: #12AC55;
  height: 60px;
}
.yellow {
  background: #FFEE00;
  height: 60px;
}
