/* ------------------ */
/* TEMPLATE STYLES -- */
/* ------------------ */
@font-face {
	font-family: 'SecretSocietyItalic';
	src: 
			url('http://sarahcarneycreative.com/codepens/webfonts/secret-society/secretsociety-italic-webfont.woff2') format('woff2'),
			url('http://sarahcarneycreative.com/codepens/webfonts/secret-society/secretsociety-italic-webfont.woff') format('woff');
	font-weight: normal; 
	font-style: normal;
}

@font-face {
  font-family: 'SecretSociety';
	src: 
		url('http://sarahcarneycreative.com/codepens/webfonts/secret-society/secretsociety-regular-webfont.woff2') format('woff2'),
		url('http://sarahcarneycreative.com/codepens/webfonts/secret-society/secretsociety-regular-webfont.woff') format('woff');
  font-weight: normal; 
	font-style: normal;
}

body { 
	height: 100%; width: 100%; 
	background-color: #333; 
	color: lightgrey; 
	font-size: 24px; 
	line-height: 30px;
	font-family: 'SecretSociety';
} 
h1, h2{ 
	padding: 10px 0;	
	margin-bottom: 10px; 
	font-weight: normal;
}
p { 
	margin: 15px 0; 
	line-height: 24px; 
}
h1 { font-size: 48px; line-height: 52px; }
h2 { font-size: 26px; }

.container { 
	max-width: 960px; 
	height: 100%;
	margin: 0 auto; 
	padding: 20px;
}

/* ------------------ */
/* THE EYE         -- */
/* ------------------ */

.eye {
	width: 75px; height: 75px;
	margin: 0 auto 50px auto;
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/closed.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

/* .all-seeing is added with js below */
.eye.all-seeing {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/ope.png');
}

/* ------------------ */
/* THE HIDDEN COFFER      -- */
/* ------------------ */

.title { 
	position: relative; 
	width: 500px; height: 75px;
	margin: 0 auto;
	text-align: center; 
	text-transform: uppercase;
}

.title span { 
	font-size: 34px;
	font-family: 'SecretSocietyItalic';
	text-transform: none;
}

.branch {
	width: 75px; height: 125px;
	position: absolute;
	top: -20px; left: auto; right: auto;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.branch-left { 
	left: -50px;
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/branch-left.png');
}

.branch-right { 
	right: -50px;
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/branch-right.png');
}

/* ------------------ */
/* SECRET MESSAGES -- */
/* ------------------ */

.secret-book { 
	position: relative; 
	top: 150px;
	max-width: 800px;
	height: 500px;
	margin: 0 auto;
	/* Hidden until revealed */
	opacity: 0; 
	-webkit-transition: opacity 2s ease; 
	transition: opacity 2s ease; 
}

/* .revealed is added via js below */
.secret-book.revealed {	opacity: 1; }

/* Hide the radio button for the radio method */
.secret-book label + input[type='radio'] { display: none; }

/* Amulets */
.secret-book label {
	display: block;
	width: 20%; height: 75px;
	/* Levitate the amulets */
	position: absolute;
	top: -75px; 
	color: transparent;		
	background-position: 50% 50%;
	background-size: auto 75px;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* Amulet Positions */
.secret-book label[for=candle] { left: 0; }
.secret-book label[for=birb] { left: 20%; }
.secret-book label[for=toof] { left: 40% }
.secret-book label[for=knife] { right: 20%; }
.secret-book label[for=knot] { right: 0; }

/* Amulate Images */
.secret-book label[for=candle] {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/candle.png');
}
.secret-book label[for=birb] {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/birb.png');
	background-size: 85px auto;
}
.secret-book label[for=toof] {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/toof.png');
	background-size: auto 60px;
}
.secret-book label[for=knife] {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/knife.png');
}
.secret-book label[for=knot] {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/knot.png');
}

/* Amulet Images Lit Up */
/* .lit is added via js below */
.secret-book label[for=candle].lit {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/candle-white.png');
}
.secret-book label[for=birb].lit {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/birb-white.png');
	background-size: 85px auto;
}
.secret-book label[for=toof].lit {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/toof-white.png');
	background-size: auto 60px;
}
.secret-book label[for=knife].lit {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/knife-white.png');
}
.secret-book label[for=knot].lit {
	background-image: url('http://sarahcarneycreative.com/codepens/images/secretsociety/knot-white.png');
}

/* Messages from beyond. Er...Scranton... */
.ghostly-message {
	position: absolute;
	top: 20px;
	width: 100%;
	padding: 20px;
	text-align: center;
	opacity: 0;
	overflow: hidden;
	background-color: #2f2f2f;
	border-radius: 3px;
	-webkit-transition: height 500ms, opacity 1s;
	transition: height 500ms, opacity 1s;
}

.ghostly-message h2 { font-size: 28px; text-transform: uppercase; }
.ghostly-message p { font-family: 'SecretSocietyItalic'; }

/* When an amulet is selected, reveal the ghostly message */
/* Part of the radio method */
.secret-book label + input[type='radio']:checked + .ghostly-message {
	opacity: 1;
}