body {
  background: #f5f5f5;
}
.dice-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
.cubic {
  margin: 1em;
  width: 50px;
  height: 50px;
  -webkit-transform: rotateY(-10deg) rotateX(-10deg);
          transform: rotateY(-10deg) rotateX(-10deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.cubic > div {
  position: absolute;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Dice.png");
  background-size: 170px;
  box-sizing: border-box;
}
.cubic > div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ccc;
  opacity: 0.2;
}
.top {
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
  background-position: -5px -62px;
}
.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(25px);
          transform: rotateX(-90deg) translateZ(25px);
  background-position: -289px -5px;
}
.front {
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  background-position: -5px -5px;
}
.right {
  -webkit-transform: rotateY(90deg) translateZ(25px);
          transform: rotateY(90deg) translateZ(25px);
  background-position: -232px -5px;
}
.back {
  -webkit-transform: rotateY(180deg) translateZ(25px);
          transform: rotateY(180deg) translateZ(25px);
  background-position: -289px -62px;
}
.left {
  -webkit-transform: rotateY(270deg) translateZ(25px);
          transform: rotateY(270deg) translateZ(25px);
  background-position: -232px -62px;
}
#ctrl {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
#roll {
  display: inline-block;
  padding: 1em 3em;
  margin-right: 1em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  outline: none;
}
label {
  display: block;
  margin-top: 1em;
}
