@import url('https://fonts.googleapis.com/css?family=Balthazar|Nunito:300');

body {
  background: #eceff1;
}

.c {
  clear: both;
}
.card * {
transition:All 0.1s ease;
-webkit-transition:All 0.1s ease;
-moz-transition:All 0.1s ease;
-o-transition:All 0.1s ease;
}
.table {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

section {
 width:33%;   
}

.card {
  width: calc(100% - 10px);
  max-height: 460px; 
  border: 1px solid #222;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  margin: 10px;
  box-shadow: 0 0 8px rgba(43,47,62,.1);
transition:All 0.1s ease;
-webkit-transition:All 0.1s ease;
-moz-transition:All 0.1s ease;
-o-transition:All 0.1s ease;
z-index:4400;
}

.property {
  border: 2px solid #222;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  font-size: 28px;
  letter-spacing: 1px;
  font-family: 'Balthazar', serif;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}

.yellow { background: #f8f218; }
.lightblue { background: #c1dced; }
.darkblue { background: #317cd5; }

.eyebrow {
  display: block;
  font-size: 14px;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

::-webkit-details-marker {
  display: none;
}

.rent {
  text-transform: uppercase;
  margin-top: 10px;
}

.priceTable {
  width: 70%;
  display: block;
  margin: 0 auto;

}

.priceTable .qty,
.priceTable .price { 
  float: left;
  width: 50%;
}

.priceTable .qty {
  text-transform: capitalize;
  text-align: left;
}

.priceTable .price {
  text-align: right;
}

.hotel {
  clear: both;
  margin-top: 5px;
}

.disclaimer {
  font-size: 10px;
  margin: 10px 0;
}
