.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
	max-width:calc(50% + 35px + 300px - 45px);
  margin: 0 auto;
	margin-left:auto;
	margin-right:auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}
h1, h2, h3 {
  color: #000;
	font-weight:300;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

button:focus {
	outline:none;}

.container {
	border: 5px double rgba(0,0,0,0.4);
	padding:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container h3 {
	margin-top:0;
	background:rgba(0,0,0,0.1);
	padding:10px;
	border-bottom:5px solid rgba(0,0,0,0.4);
	width:calc(100% - 20px);
}
.container p {
	padding:10px;
	background:rgba(0,0,0,0.05);
	margin:0;
}
.personality, .origin {
	width:calc(50% - 20px);
	padding:10px;
}
.persoinfo {
	position:fixed;
	top:2vh;right:calc(50% - 300px);
	background:white;
	color:black;
	font-size:21px;
}
.origin {
	width:calc(33% - 20px);
}
.role {
	width:33%;
}
.role button {
	border-left:0 !important;
	border-right:0 !important;
	border-bottom:0 !important;
	border-radius:25px;
}
.role h5 {
	margin:0;
	font-weight:300;
	color:black;
	background:rgba(0,0,0,0.0);
	padding:10px;
}
.role:hover h5 {

}
.role:hover button {

}
.rsheet {
	position:fixed;
	top:10px;left:10px;
	width:calc(50% + 35px + 300px - 75px);
	height:calc(100vh - 20px - 20px - 10px);
	border: 5px double rgba(0,0,0,0.4);
	padding:10px;
	background:white;
	border-radius:10px;
}
.toggle-rsheet {
	position:fixed;
	left:calc(50% + 35px + 300px - 200px);
	top:20px;
	z-index:4400;
}
.opacity0 {
	height:50px !important;
}
.sheet {
	position:fixed;
	top:10px;
	width:300px;
	min-width:300px;
	max-height:calc(100vh - 20px - 20px - 10px);
	border: 5px double rgba(0,0,0,0.4);
	padding:10px;
	background:white;
	border-radius:10px;
	overflow-y:scroll;
  right:-325px;
transition:All 1.7s ease;
-webkit-transition:All 1.7s ease;
-moz-transition:All 1.7s ease;
-o-transition:All 1.7s ease;
z-index:3900;
}
.sheet:hover {
transition:All 0.7s ease;
-webkit-transition:All 0.7s ease;
-moz-transition:All 0.7s ease;
-o-transition:All 0.7s ease;
right:0px;
}

.notes {
	position:fixed;
	bottom:10px;
	width:calc(25%);
	min-width:300px;
	max-height:calc(100vh - 20px - 20px - 10px);
	border: 5px double rgba(0,0,0,0.4);
	padding:10px;
	background:rgba(0,0,0,0.4);
	border-radius:10px;
	overflow-y:hidden;
  left:-15%;
transition:All 1.7s ease;
-webkit-transition:All 1.7s ease;
-moz-transition:All 1.7s ease;
-o-transition:All 1.7s ease;
	text-align:right;
z-index:4400;
}
.notes h1 {
	font-size:1em;
}
.notes a {
	line-height:100%;
	background:;
	color:white;
	font-size:0.7em;
}
.notes:hover a {
	line-height:100%;
	background:;
	color:darkblue;
	font-size:1.1em;
}
.notes ul {
	list-style:none;
	opacity:0.3;
transition:All 1.7s ease;
-webkit-transition:All 1.7s ease;
-moz-transition:All 1.7s ease;
-o-transition:All 1.7s ease;
}
.notes:hover ul {
	opacity:1;
transition:All 0.7s ease;
-webkit-transition:All 0.7s ease;
-moz-transition:All 0.7s ease;
-o-transition:All 0.7s ease;
}
.notes li {
	margin-right:20px;
}
.notes:hover {
transition:All 0.7s ease;
-webkit-transition:All 0.7s ease;
-moz-transition:All 0.7s ease;
-o-transition:All 0.7s ease;
left:0px;
	background:white;
}

.origin-core {
	position:fixed;
	top:-52vh;
	width:calc(20% - 10px);
	height:calc(60vh);
	border: 5px double rgba(255,255,255,0.4);
	background:rgba(0,0,0,0.7);
	border-radius:10px;
	overflow:hidden;
  left:calc(40% - 5px);
transition:All 1.7s ease;
-webkit-transition:All 1.7s ease;
-moz-transition:All 1.7s ease;
-o-transition:All 1.7s ease;
z-index:4000;
}
.origin-core * {
	font-size:1em;
	opacity:0;
transition:All 0.7s ease;
-webkit-transition:All 0.7s ease;
-moz-transition:All 0.7s ease;
-o-transition:All 0.7s ease;
}
.origin-core:hover * {
	font-size:1em;
	opacity:1;
transition:All 0.7s ease;
-webkit-transition:All 0.7s ease;
-moz-transition:All 0.7s ease;
-o-transition:All 0.7s ease;
}
.origin-core h1 {
	text-align:center;
	bottom:0;
	line-height:10vh;
	position:absolute;
	width:100%;
	margin:0;
	color:white;
	opacity:1;
}
.origin-core:hover h1 {
	color:black;
}
.origin-core ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
	padding-left:0;
}
.origin-core li {

	list-style:none;
    flex: 1 1 auto;
	max-width:calc(19%);
	margin:0.5%;
	background:rgba(255,255,255,1);
}
.origin-core li a:nth-child(3) {
	color:green;
	background:rgba(255,255,255,0.4);
}
.origin-core li a:nth-child(4) {
	color:blue;
	background:rgba(255,255,255,0.4);
}
.origin-core li a:nth-child(5) {
	color:black;
	background:rgba(255,255,255,0.4);
}

.origin-core li h4 {
	background:rgba(255,255,255,0.8);
	margin:0;
	font-weight:200;
	font-size:1.7em;
	line-height:10vh;
	max-height:10vh;
	text-align:center;
}
.origin-core li p {
	font-size:0.8em !important;
	background:rgba(255,255,255,0.4);
}
.origin-core li a {
	float:left;
	cursor:pointer;
}

.origin-core .content {
	border:1px solid rgba(0,0,0,0.1);
	transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	padding:10px;
	border-radius:5px;
	height:100%;
}

.origin-core:hover {
	width:calc(100% - 10px);
	background:rgba(255,255,255,0.79);
transition:All 0.7s ease;
-webkit-transition:All 0.7s ease;
-moz-transition:All 0.7s ease;
-o-transition:All 0.7s ease;
left:0px;
top:0;
}


.sheet h4, .sheet h3, .rsheet h4, .rsheet h3 {
	padding:0;
	margin:0;
	font-weight:300;
}
.sheet h3, .rsheet h3 {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	background:rgba(0,0,0,0.1);
	text-align:center;
	border-bottom:5px double rgba(0,0,0,0.4);
}
.sheet h4 {
	padding-top:5px;
	padding-bottom:0px;
	margin-bottom:5px;
	background:rgba(0,0,0,0.03);
	border-bottom:1px solid rgba(0,0,0,0.4);
}
.container button {
	width:100%;
	font-size:1.4em;
	background:transparent;
	border:2px double rgba(0,0,0,0.4);
	cursor:pointer;
}
.choosen {
	background:rgba(0,0,0,0.8) !important;
	color:white;
	border:2px double rgba(0,0,0,1) !important;
}
.container button:hover {
	border:2px double rgba(0,0,0,0.7);
}
.container h4 {
	border:1px solid rgba(0,0,0,0.7);
	margin:0;
	padding:10px;
}
.skills, .profs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sheet p,
.skill {
	width:50%;
}

.sheet p {
	margin:0;
	padding:0;
	font-size:0.7em;
	text-align:right;
}
.profession {
	width:50%;
}
