/* VAIRABLES TO CUSTOMIZE */
/*
* @boxes-per-row
* Customise this + your layout to achieve 
- the board layout you want
*/
/* AND ITS OVER TO LESS/CSS3! */
body {
  background: #424242;
  font-family: 'Montserrat', sans-serif;
}
body h1,
body h2 {
  color: #fff;
  text-align: center;
}
body a {
  color: #9363C2;
}
#board {
  position: relative;
  margin: 2em;
  padding: 20px;
  background-color: #a6a3a3;
  border: .4375em solid #383838;
}
#board section {
  background: #fff;
  width: 20%;
  padding: 10px 0;
  min-width: 120px;
  height: 100px;
  display: inline-block;
  margin-left: -5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#board section span {
  font-size: 12px;
  display: block;
  position: relative;
  top: 5px;
}
#board section span.price {
  text-align: center;
  width: 100%;
  margin-bottom: 2px;
}
#board section i {
  font-size: 40px;
  margin: 16px 0 13px 0;
}
#board section:nth-child(odd) {
  background: #f2f2f2;
}
#board section:hover {
  background: #d9d9d9;
}
#board section.right:after {
  left: 10px;
  float: right;
}
#board section.left:after {
  right: 10px;
  float: left;
}
#board section.up:after {
  top: -115px;
  left: 60px;
  float: left;
}
#board section:not(.no-dir):after {
  position: relative;
  display: block;
  bottom: 60px;
  height: 20px;
  width: 20px;
  content: '';
  background: inherit;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 10;
}
#board section.active {
  background: dodgerblue !important;
}
#board section.active:hover {
  background: #0483ff !important;
}
#board section.start {
  background: #ECBF41 !important;
}
#board section.start:hover {
  background: #eab72a !important;
}
#board section.end {
  background: #9363C2 !important;
}
#board section.end:hover {
  background: #8651bb !important;
}
#board section.danger {
  background: #FD7474 !important;
}
#board section.danger:hover {
  background: #fd5b5b !important;
}
